<configuration>
  <configSections>
    <sectionGroup name="menu">
      <section name="help" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="enterprise">
      <section name="terminals" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
    <sectionGroup name="ridgefield">
      <section name="scanners" type="System.Configuration.SingleTagSectionHandler"/>
      <section name="scanner1" type="System.Configuration.SingleTagSectionHandler"/>
      <section name="scanner2" type="System.Configuration.SingleTagSectionHandler"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Ridgefield" connectionString="Data Source=rfrgxvmsql1;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <enterprise>
    <terminals>
      <add key="Ridgefield" value="Ridgefield" />
    </terminals>
  </enterprise>
  <ridgefield>
    <scanners count="2" />
    <scanner1 source="SortCubeService" />
    <scanner2 source="SmallSortCubeService" />
  </ridgefield>

  <menu>
    <help>
      <add key="Contents..." value="" />
      <add key="Release Notes..." value="releasenotes.txt" />
    </help>
  </menu>
</configuration>
