<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="SQLConnection" connectionString="Data Source=JARGXTS;Initial Catalog=TSORT;Persist Security Info=True;User ID=userid;Password=password" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>