<configuration>
	<configSections>
		<sectionGroup name="menu"><section name="help" type="System.Configuration.NameValueSectionHandler" /></sectionGroup>
        <sectionGroup name="enterprise">
            <section name="terminals" type="System.Configuration.SingleTagSectionHandler"/>
            <section name="terminal1" type="System.Configuration.SingleTagSectionHandler"/>
            <section name="terminal2" type="System.Configuration.SingleTagSectionHandler"/>
            <!--
            <section name="terminal3" type="System.Configuration.SingleTagSectionHandler"/>
            <section name="terminal4" type="System.Configuration.SingleTagSectionHandler"/>
            <section name="terminal5" type="System.Configuration.SingleTagSectionHandler"/>
            <section name="terminal6" type="System.Configuration.SingleTagSectionHandler"/>
            <section name="terminal7" type="System.Configuration.SingleTagSectionHandler"/>
            <section name="terminal8" type="System.Configuration.SingleTagSectionHandler"/>
            -->
        </sectionGroup>
    </configSections>
    <menu>
		<help>
			<add key="Contents..." value="" />
			<add key="Release Notes..." value="" />
		</help>
	</menu>
    <enterprise>
        <terminals Count="2" />
        <terminal1 TerminalID="05" Description="Jamesburg" TerminalType="Tsort" SQLConnection="Data Source=JARGXTS;Initial Catalog=TSORT;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;" />
        <terminal2 TerminalID="02" Description="Ridgefield" TerminalType="Local" SQLConnection="Data Source=RFRGXAD2;Initial Catalog=TSORT;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;" />
        <!--
        <terminal3 TerminalID="04" Description="South Windsor" TerminalType="Tsort" SQLConnection="Data Source=CTRGXAD2;Initial Catalog=TSORT;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;" />
        <terminal4 TerminalID="03" Description="Wilmington" TerminalType="Tsort" SQLConnection="Data Source=MARGXAD2;Initial Catalog=TSORT;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;" />
        <terminal5 TerminalID="13" Description="Lakeland" TerminalType="Tsort" SQLConnection="Data Source=LLRGXAD2;Initial Catalog=TSORT;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;" />
        <terminal6 TerminalID="12" Description="Medley" TerminalType="Tsort" SQLConnection="Data Source=MMRGXAD2;Initial Catalog=TSORT;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;" />
        <terminal7 TerminalID="55" Description="Dallas" TerminalType="Tsort" SQLConnection="Data Source=AGDLRGXTS;Initial Catalog=TSORT;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;" />
        <terminal8 TerminalID="14" Description="St Louis" TerminalType="Tsort" SQLConnection="Data Source=AGSLRGXTS;Initial Catalog=TSORT;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;" />
        -->
    </enterprise>
    
    <appSettings>
		<!-- Client configuration -->
		<add key="EventLogMachineName" value="." />

        <!-- Global database configuration -->
        <add key="SQLConnection" value="Data Source=RGXSQL;Initial Catalog=TSORT;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;Connection Timeout=15" />
        <add key="JAPANDA001" value="Data Source=JAPANDA001;Initial Catalog=ArgixDB;User ID=sa;Password=rti;Persist Security Info=True;Packet Size=4096;Connection Timeout=15"/>
        <add key="JAPANDA002" value="Data Source=JAPANDA002;Initial Catalog=ArgixDB;User ID=sa;Password=rti;Persist Security Info=True;Packet Size=4096;Connection Timeout=15"/>
    </appSettings>
</configuration>
