<configuration>
	<!-- Utility Configuration -->
	<configSections>
		<!-- Required declarations; definitions below -->
		<section name="dirs" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="dir1" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="dir2" type="System.Configuration.SingleTagSectionHandler"/>
	</configSections>
	
	<!-- src=move from folder; pattern=file pattern for moved files -->
    <!-- dest=move to folder; suffix=move to filename suffix -->
    <dirs count="2" />
    <dir1 src="C:\PCSTRAC\Comm\CSD\archive\" pattern="CSDAX*" dest="C:\PCSTRAC\Dest\EDI\A" suffix="" />
    <dir2 src="C:\PCSTRAC\Home\boltemp\" pattern="BJA*" dest="C:\PCSTRAC\Dest\StoreScan\" suffix=".pcs" />
	
	<appSettings>
		<add key="TimerOn" value="true" />
		<add key="TimerInterval" value="600000" />
		<add key="LogOn" value="true" />
		<add key="LogPath" value="C:\PCSTRAC\Logs\" />
		<add key="LogFilesMax" value="7" />
	</appSettings>
</configuration>
