<configuration>
    <!-- JAMESBURG, NJ Configuration -->
    <configSections>
        <sectionGroup name="station">
            <section name="printer" type="System.Configuration.NameValueSectionHandler"/>
        </sectionGroup>
        <sectionGroup name="menu">
            <section name="help" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <station>
        <printer>
            <add key="BaudRate" value="19200" />
            <add key="DataBits" value="7" />
            <add key="Parity" value="None" />
            <add key="StopBits" value="1" />
            <add key="Handshake" value="None" />
        </printer>
    </station>
    <menu>
        <help>
            <add key="Contents..." value="" />
            <add key="Release Notes..." value="http://RGXWEB/InStoreLabels/releasenotes.txt" />
            <add key="Issue Log..." value="http://rgxshpnt/Tsort%20Applications/Lists/Issue%20Log/AllItems.aspx" />
        </help>
    </menu>

    <applicationSettings>
        <Argix.Properties.Settings>
            <setting name="SQLCommandTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=RGXSQLR;initial catalog=TSORTR;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=30</value>
            </setting>
        </Argix.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Argix.Properties.Settings>
            <setting name="LastVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Toolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>45, 45</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Argix.Properties.Settings>
    </userSettings>
</configuration>
