<configuration>
	<!-- Test configuration -->
	<configSections>
		<sectionGroup name="menu">
			<section name="help" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	<menu>
		<help>
			<add key="Contents..." value="" />
			<add key="Release Notes..." value="http://RGXDEVDB/Administration/releasenotes.txt" />
			<add key="Issue Log..." value="http://rgxshpnt/Tsort%20Applications/Lists/Issue%20Log/AllItems.aspx" />
		</help>
	</menu>
	<appSettings>
		<!-- Client configuration -->
		<add key="UseWebSvc" value="false" />
		<add key="EventLogMachineName" value="RGXDEVDB" />
		
		<!-- Tsort.Data configuration -->
		<add key="Tsort.Data.DataWS.DataAccess" value="http://RGXDEVDB/RGXDEVDB.TSORT.WebSvc/DataAccess.asmx" />
		<add key="SQLConnection" value="data source=RGXDEVDB;initial catalog=TSORT;persist security info=True;user id=sa;password=objects;packet size=4096;Connection Timeout=15" />
	</appSettings>
</configuration>
