<configuration>
	<!-- Ship Schedule -->
	<configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.ShipperSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.JASettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.ATSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.CHSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.LLSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.MMSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.DLSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.SLSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.CASettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Argix.Properties.COSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="menu">
            <section name="help" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Argix.Properties.Settings>
            <setting name="SQLCommandTimeout" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SQLReportsWS" serializeAs="String">
                <value>http://rgxvmsqlrpt08:80/ReportServer/ReportService2010.asmx</value>
            </setting>
            <setting name="AgentReportPath" serializeAs="String">
                <value>/AgentLineHaul/Agent Ship Schedule</value>
            </setting>
            <setting name="CarrierReportPath" serializeAs="String">
                <value>/AgentLineHaul/Carrier Ship Schedule</value>
            </setting>
            <setting name="ValidationWindow" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IsShipperSchedule" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="CanEditFreightAssigned" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=RGXDEVDB;initial catalog=TSORTLOCAL;persist security info=True;user id=sa;password=objects;packet size=4096</value>
            </setting>
            <setting name="ExportDefinitionFile" serializeAs="String">
                <value>http://RGXDEVDB/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
            </setting>
        </Argix.Properties.Settings>
        <Argix.Properties.ShipperSettings>
            <setting name="IsShipperSchedule" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="CanEditFreightAssigned" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=rgxvmsql;initial catalog=TSORT;persist security info=True;user id=sa;password=objects;packet size=4096</value>
            </setting>
            <setting name="ExportDefinitionFile" serializeAs="String">
                <value>http://RGXVMWEB/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
            </setting>
        </Argix.Properties.ShipperSettings>
        <Argix.Properties.JASettings>
            <setting name="IsShipperSchedule" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="CanEditFreightAssigned" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=JARGXVMTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
            </setting>
            <setting name="ExportDefinitionFile" serializeAs="String">
                <value>http://RGXVMWEB/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
            </setting>
        </Argix.Properties.JASettings>
		<Argix.Properties.ATSettings>
			<setting name="IsShipperSchedule" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="CanEditFreightAssigned" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=ATRGXVMSQL;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="ExportDefinitionFile" serializeAs="String">
				<value>http://ATRGXVMSQL/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
			</setting>
		</Argix.Properties.ATSettings>
		<Argix.Properties.CHSettings>
			<setting name="IsShipperSchedule" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="CanEditFreightAssigned" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=chrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="ExportDefinitionFile" serializeAs="String">
				<value>http://chrgxvmsql/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
			</setting>
		</Argix.Properties.CHSettings>
		<Argix.Properties.LLSettings>
            <setting name="IsShipperSchedule" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="CanEditFreightAssigned" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=llrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
            </setting>
            <setting name="ExportDefinitionFile" serializeAs="String">
                <value>http://llrgxvmsql/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
            </setting>
        </Argix.Properties.LLSettings>
        <Argix.Properties.MMSettings>
            <setting name="IsShipperSchedule" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="CanEditFreightAssigned" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=MMRGXAD1;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
            </setting>
            <setting name="ExportDefinitionFile" serializeAs="String">
                <value>http://MMRGXAD1/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
            </setting>
        </Argix.Properties.MMSettings>
        <Argix.Properties.DLSettings>
            <setting name="IsShipperSchedule" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="CanEditFreightAssigned" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=AGDLRGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
            </setting>
            <setting name="ExportDefinitionFile" serializeAs="String">
                <value>http://AGDLRGXTS/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
            </setting>
        </Argix.Properties.DLSettings>
        <Argix.Properties.SLSettings>
            <setting name="IsShipperSchedule" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="CanEditFreightAssigned" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=AGSLRGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
            </setting>
            <setting name="ExportDefinitionFile" serializeAs="String">
                <value>http://AGSLRGXTS/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
            </setting>
        </Argix.Properties.SLSettings>
        <Argix.Properties.CASettings>
            <setting name="IsShipperSchedule" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="CanEditFreightAssigned" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=AGVMCARGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
            </setting>
            <setting name="ExportDefinitionFile" serializeAs="String">
                <value>http://AGVMCARGXTS/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
            </setting>
        </Argix.Properties.CASettings>
        <Argix.Properties.COSettings>
            <setting name="IsShipperSchedule" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="CanEditFreightAssigned" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=AGVMCORGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
            </setting>
            <setting name="ExportDefinitionFile" serializeAs="String">
                <value>http://AGVMCORGXTS/Argix08/Apps/AgentLineHaul/ShipSchedule/</value>
            </setting>
        </Argix.Properties.COSettings>
    </applicationSettings>
    <userSettings>
        <Argix.Properties.Settings>
            <setting name="LastVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Toolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>45, 45</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TemplatesWindow" serializeAs="String">
                <value>True</value>
            </setting>
        </Argix.Properties.Settings>
    </userSettings>
    <menu>
        <help>
            <add key="Help Contents" value="" />
            <add key="Release Notes..." value="releasenotes.txt" />
        </help>
    </menu>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
