<configuration>
  <!-- Utility Configuration -->
  <configSections>
    <!-- Required declarations; definitions below -->
    <section name="dirs" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="dir1" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="dir2" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="dir3" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="dir4" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="dir5" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="dir6" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="dir7" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="dir8" type="System.Configuration.SingleTagSectionHandler"/>

    <sectionGroup name="terminals">
      <section name="ALL" type="System.Configuration.DictionarySectionHandler"/>
      <section name="JA" type="System.Configuration.DictionarySectionHandler"/>
      <section name="RF" type="System.Configuration.DictionarySectionHandler"/>
      <section name="CT" type="System.Configuration.DictionarySectionHandler"/>
      <section name="MA" type="System.Configuration.DictionarySectionHandler"/>
      <section name="AT" type="System.Configuration.DictionarySectionHandler"/>
      <section name="CH" type="System.Configuration.DictionarySectionHandler"/>
      <section name="LL" type="System.Configuration.DictionarySectionHandler"/>
      <section name="MM" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>

  <!-- src=source folder within enumerated folders ("" allowed); -->
  <!-- pattern=file pattern for target files; dest=destination to folder \\<server>\Bearware\Import -->
  <!-- move= false(copy) | true(move) -->
  <dirs count="8" />
  <dir1 name="Jamesburg" src="\\jabwaresqllt\Bearware\RDS\FromRoadshow\" pattern="roadshow.txt" dest="\\jabwaresqllt\Bearware\RDS\Import\" terminal="JA" />
  <dir2 name="Ridgefield" src="\\rfrgxvmbware1\Bearware\RDS\FromRoadshow\" pattern="roadshow.txt" dest="\\rfrgxvmbware1\Bearware\RDS\Import\" terminal="RF" />
  <dir3 name="South Windsor" src="\\ctrgxvmbware\Bearware\RDS\FromRoadshow\" pattern="roadshow.txt" dest="\\ctrgxvmbware\Bearware\RDS\Import\" terminal="CT" />
  <dir4 name="Wilmington" src="\\margxvmbware\Bearware\RDS\FromRoadshow\" pattern="roadshow.txt" dest="\\margxvmbware\Bearware\RDS\Import\" terminal="MA" />
  <dir5 name="Atlanta" src="\\atrgxvmbware\Bearware\RDS\FromRoadshow\" pattern="roadshow.txt" dest="\\atrgxvmbware\Bearware\RDS\Import\" terminal="AT" />
  <dir6 name="Charlotte" src="\\chrgxvmbware\Bearware\RDS\FromRoadshow\" pattern="roadshow.txt" dest="\\chrgxvmbware\Bearware\RDS\Import\" terminal="CH" />
  <dir7 name="Lakeland" src="\\llrgxvmbware\Bearware\RDS\FromRoadshow\" pattern="roadshow.txt" dest="\\llrgxvmbware\Bearware\RDS\Import\" terminal="LL" />
  <dir8 name="Medley" src="\\mmrgxvmbware\Bearware\RDS\FromRoadshow\" pattern="roadshow.txt" dest="\\mmrgxvmbware\Bearware\RDS\Import\" terminal="MM" />

  <terminals>
    <ALL />
    <JA />
    <RF>
      <add key='"CHARMS"' value='"008"' />
      <add key='"GNC"' value='"152"' />
      <add key='"UNITED"' value='"028"' />
    </RF>
    <CT>
      <add key='"CHARMS"' value='"008"' />
      <add key='"GNC"' value='"152"' />
      <add key='"UNITED"' value='"028"' />
    </CT>
    <MA>
      <add key='"CHARMS"' value='"008"' />
      <add key='"GNC"' value='"152"' />
      <add key='"UNITED"' value='"028"' />
    </MA>
    <AT>
      <add key='"UNITED"' value='"028"' />
    </AT>
    <CH>
      <add key='"UNITED"' value='"028"' />
    </CH>
    <LL>
      <add key='"CHARMS"' value='"008"' />
      <add key='"UNITED"' value='"028"' />
    </LL>
    <MM>
      <add key='"CHARMS"' value='"008"' />
      <add key='"UNITED"' value='"028"' />
    </MM>
  </terminals>
</configuration>
