<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="menu">
            <section name="help" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Argix.Properties.Settings>
            <setting name="ReportPathSummaryComp" serializeAs="String">
                <value>/Finance/DriverSum</value>
            </setting>
            <setting name="ReportPathDriverComp" serializeAs="String">
                <value>/Finance/DriverComp</value>
            </setting>
            <setting name="ReportPathFleetComp" serializeAs="String">
                <value>/Finance/Fleet Owner Compensation</value>
            </setting>
            <setting name="EventLogMachineName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=rgxvmsql;initial catalog=Tsort;persist security info=True;user id=sa;password=objects;packet size=4096</value>
            </setting>
            <setting name="ReportServerUrl" serializeAs="String">
                <value>http://rgxvmsqlrpt08/ReportServer</value>
            </setting>
        </Argix.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Argix.Properties.Settings>
            <setting name="LastVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Toolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>45, 45</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="RoadshowWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TermConfigWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriverEquipWindow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DriverRatesWindow" serializeAs="String">
                <value>False</value>
            </setting>
        </Argix.Properties.Settings>
    </userSettings>
    <menu>
        <help>
            <add key="Contents..." value="" />
            <add key="Release Notes..." value="" />
            <add key="Issue Log..." value="http://rgxshpnt/Tsort%20Applications/Lists/Issue%20Log/AllItems.aspx" />
        </help>
    </menu>
</configuration>
