<configuration>
	<!-- Utility Configuration -->
	<configSections>
		<!-- Required declarations; definitions below -->
		<section name="dirs" type="System.Configuration.SingleTagSectionHandler"/>
        <section name="dir1" type="System.Configuration.SingleTagSectionHandler"/>
        <section name="dir2" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="dir3" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="dir4" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="dir5" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="dir6" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="dir7" type="System.Configuration.SingleTagSectionHandler"/>

		<sectionGroup name="terminals">
			<section name="ALL" type="System.Configuration.DictionarySectionHandler"/>
			<section name="RF" type="System.Configuration.DictionarySectionHandler"/>
			<section name="CT" type="System.Configuration.DictionarySectionHandler"/>
			<section name="MA" type="System.Configuration.DictionarySectionHandler"/>
			<section name="AT" type="System.Configuration.DictionarySectionHandler"/>
			<section name="CH" type="System.Configuration.DictionarySectionHandler"/>
			<section name="LL" type="System.Configuration.DictionarySectionHandler"/>
			<section name="MM" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
	</configSections>

	<!-- src=source folder within enumerated folders ("" allowed); -->
	<!-- pattern=file pattern for target files; dest=destination to folder \\ctrgxad1\Bearware\Import -->
	<!-- move= false(copy) | true(move) -->
    <dirs count="1" />
    <dir1 src="\\tpjheary\Linda\Source\" pattern="rf*.txt" dest="\\tpjheary\Linda\Destination\" terminal="RF" />
	<dir2 src="\\tpjheary\Linda\Source\" pattern="*.txt" dest="\\tpjheary\Linda\Destination\" terminal="CT" />
	<dir3 src="\\tpjheary\Linda\Source\" pattern="*.txt" dest="\\tpjheary\Linda\Destination\" terminal="MA" />
	<dir4 src="\\tpjheary\Linda\Source\" pattern="*.txt" dest="\\tpjheary\Linda\Destination\" terminal="AT" />
	<dir5 src="\\tpjheary\Linda\Source\" pattern="*.txt" dest="\\tpjheary\Linda\Destination\" terminal="CH" />
	<dir6 src="\\tpjheary\Linda\Source\" pattern="*.txt" dest="\\tpjheary\Linda\Destination\" terminal="LL" />
	<dir7 src="\\tpjheary\Linda\Source\" pattern="*.txt" dest="\\tpjheary\Linda\Destination\" terminal="MM" />

	<terminals>
		<ALL />
		<RF>
			<add key='"POLORL"' value='"073"' />
			<add key='"UNITED"' value='"028"' />
			<add key='"ANNTAY"' value='"033"' />
		</RF>
		<CT>
			<add key='"POLORL"' value='"073"' />
			<add key='"UNITED"' value='"028"' />
			<add key='"GENESC"' value='"065"' />
			<add key='"ANNTAY"' value='"033"' />
		</CT>
		<MA />
		<AT />
		<CH />
		<LL>
			<add key='"UNITED"' value='"028"' />
			<add key='"ANNTAY"' value='"033"' />
		</LL>
		<MM>
			<add key='"UNITED"' value='"028"' />
			<add key='"ANNTAY"' value='"033"' />
		</MM>
	</terminals>

	<appSettings>
		<add key="TimerOn" value="true" />
		<add key="TimerInterval" value="600000" />
		<add key="LogOn" value="true" />
		<add key="LogPath" value="C:\Linda\Logs\" />
		<add key="LogFilesMax" value="7" />
	</appSettings>
</configuration>
