<configuration>
	<appSettings>		
		<!-- PANDA MESSAGING (Used with PandA Packet API only)
			ValidateMessageLength- flag for validating message length against header value
			CartonIDLength- Length of cartonID
			LabelDataLength- Length of label data
			CartonIDLen- length of the carton identifier (14: label seq #; 24: label #)
		-->
		<add key="ValidateMessageLength" value="true" />
		<add key="CartonIDLength" value="50" />
		<add key="LabelDataLength" value="2000" />
		<add key="CartonIDLen" value="24" />
		
		<!-- EVENT LOGGING 
			TraceLevel- specifies trace logging level (0-None, 1-Debug, 2-Info, 3-Warning, 4-Error)
		-->
		<add key="TraceLevel" value="1" />
		
		<!-- DATABASE CONFIGURATION 
			SQLConnection- backend data source for Sort Library
		-->
		<add key="SQLConnection" value="Data Source=RGXDEVDB;Initial Catalog=TSORTLOCAL;User ID=userid;Password=password;Persist Security Info=True;Packet Size=4096;Connection Timeout=15"/>
	</appSettings>
</configuration>
