<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.JASettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.RFSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.CTSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.MASettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.ATSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.CHSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.LLSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.MMSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.DLSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.SLSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.CASettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Argix.Properties.COSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="station">
      <section name="printer" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="menu">
      <section name="help" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Argix.Properties.Settings>
      <setting name="SQLCommandTimeout" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=RGXDEVDB;initial catalog=TSORTLOCAL;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=30</value>
      </setting>
    </Argix.Properties.Settings>
    <Argix.Properties.JASettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=jargxvmts;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.JASettings>
    <Argix.Properties.RFSettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=rfrgxvmsql1;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.RFSettings>
    <Argix.Properties.CTSettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=ctrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.CTSettings>
    <Argix.Properties.MASettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=margxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.MASettings>
    <Argix.Properties.ATSettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=atrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.ATSettings>
    <Argix.Properties.CHSettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=chrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.CHSettings>
    <Argix.Properties.LLSettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=llrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.LLSettings>
    <Argix.Properties.MMSettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=mmrgxvmsql;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.MMSettings>
    <Argix.Properties.DLSettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=AGDLRGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.DLSettings>
    <Argix.Properties.SLSettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=AGSLRGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.SLSettings>
    <Argix.Properties.CASettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=AGVMCARGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.CASettings>
    <Argix.Properties.COSettings>
      <setting name="SQLConnection" serializeAs="String">
        <value>data source=AGVMCORGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
      </setting>
    </Argix.Properties.COSettings>
  </applicationSettings>
  <userSettings>
    <Argix.Properties.Settings>
      <setting name="LastVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Toolbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StatusBar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>45, 45</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>800, 600</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </Argix.Properties.Settings>
  </userSettings>
  <station>
    <printer>
      <add key="BaudRate" value="19200" />
      <add key="DataBits" value="7" />
      <add key="Parity" value="None" />
      <add key="StopBits" value="1" />
      <add key="Handshake" value="None" />
      <add key="CheckStatus" value="true" />
      <add key="LogEvents" value="false" />
    </printer>
  </station>
  <menu>
    <help>
      <add key="Contents..." value="http://rgxshpnt/C11/Help/Document%20Library/Indirect%20Sort/Indirect%20Sort-MainFrame.htm" />
      <add key="Release Notes..." value="http://RGXDEVDB/IndirectSort/releasenotes.txt" />
    </help>
  </menu>
</configuration>
