<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Argix08.ScannerServerSync.Lib.Properties.Settings.ServerTsortConnectionString"
            connectionString="Data Source=tpjheary7;Initial Catalog=Tsort;Persist Security Info=True;User ID=sa;Password=objects"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>