<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="menu">
			<section name="help" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Argix.Properties.Settings>
			<setting name="LastVersion" serializeAs="String">
				<value>0</value>
			</setting>
			<setting name="Toolbar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="StatusBar" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="WindowState" serializeAs="String">
				<value>Normal</value>
			</setting>
			<setting name="Location" serializeAs="String">
				<value>45, 45</value>
			</setting>
			<setting name="Size" serializeAs="String">
				<value>800, 600</value>
			</setting>
		</Argix.Properties.Settings>
	</userSettings>
	<menu>
		<help>
			<add key="Contents..." value="" />
			<add key="Release Notes..." value="" />
			<add key="Issue Log..." value="http://rgxshpnt/Tsort%20Applications/Lists/Issue%20Log/AllItems.aspx" />
		</help>
	</menu>
    <system.serviceModel>
	    <bindings>
            <customBinding>
                <binding name="KronosWebHttpBinding">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    </textMessageEncoding>
                </binding>
            </customBinding>
            <wsHttpBinding>
                <binding name="KronosWSHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="250000000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="655360" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://rgxvmweb/Argix08/Argix08.KronosService/KronosService.svc" binding="wsHttpBinding" bindingConfiguration="KronosWSHttpBinding" contract="Kronos.IKronos" name="KronosWSHttpBinding" behaviorConfiguration="KronosEndpointBehavior">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
        <behaviors>
            <endpointBehaviors>
                <behavior name="KronosEndpointBehavior">
                    <dataContractSerializer maxItemsInObjectGraph="2147483646" />
                </behavior>
            </endpointBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>
