<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Argix.CustomerSvc.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
 </configSections>
	<applicationSettings>
		<Argix.Properties.Settings>
			<setting name="EventLogMachineName" serializeAs="String">
				<value></value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=RGXSQL;initial catalog=TSORT;persist security info=True;user id=sa;password=objects;packet size=4096;Connect Timeout=3</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://RGXDEVDB/RGXDEVDB.TsortEnterprise.WebSvc/DataAccess.asmx</value>
			</setting>
		</Argix.Properties.Settings>
		<Argix.CustomerSvc.Settings>
   <setting name="UseWebSvc" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SQLConnection" serializeAs="String">
    <value>data source=RGXSQL;initial catalog=TSORT;persist security info=True;user id=sa;password=objects;packet size=4096;Connect Timeout=3</value>
   </setting>
   <setting name="DataAccessWS" serializeAs="String">
    <value>http://RGXWEB/RGXSQL.Tsort.WebSvc/DataAccess.asmx</value>
   </setting>
   <setting name="TempFolder" serializeAs="String">
    <value>c:\Temp\</value>
   </setting>
  </Argix.CustomerSvc.Settings>
	</applicationSettings>
</configuration>