<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Argix.Finance.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Argix.Finance.Settings>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=RGXSQLR;initial catalog=TSORTR;persist security info=True;user id=sa;password=objects;packet size=4096;Connect Timeout=30</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>048</value>
            </setting>
        </Argix.Finance.Settings>
    </applicationSettings>
</configuration>