<configuration>
	<!-- Utility Configuration -->
	<configSections>
		<!-- Required declarations; definitions below -->
		<section name="dirs" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="dir1" type="System.Configuration.SingleTagSectionHandler"/>
        <section name="ftps" type="System.Configuration.SingleTagSectionHandler"/>
        <!-- <section name="ftp1" type="System.Configuration.SingleTagSectionHandler"/> -->
	</configSections>
	
	<!-- src=move from folder; pattern=file pattern for moved files -->
    <!-- dest=move to folder; suffix=move to filename suffix -->
    <dirs count="1" />
    <!-- <dir1 src="\\jargxsql\ftpdata\users\blupkg\" pattern="*.man" dest="\\jargxsql\ftpdata\users\blupkg\M" suffix="" /> -->
    <dir1 src="\\tpjheary2\retail\Manifests\" pattern="*.man" dest="\\tpjheary2\retail\Manifests\M" suffix="" />

    <!-- uri=FTP source server; pattern=file pattern for rename files -->
    <!-- userid=; password= -->
    <ftps count="0" />
    <!-- <ftp1 server="ftp.argixdirect.com" path="" pattern="*.man" userid="BLUPKG" password="blu2008" prefix="M" suffix="" /> -->
    <appSettings>
		<add key="TimerOn" value="false" />
		<add key="TimerInterval" value="600000" />
		<add key="LogOn" value="true" />
        <add key="LogPath" value="C:\Argix\DDULogs\" />
        <add key="LogFilesMax" value="7" />
        <add key="SQLConnection" value="data source=RGXSQL;initial catalog=TSORT;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=30" />
    </appSettings>
</configuration>
