<configuration>
	<!-- Copy the entries below for each applicable Mediator to the applications 
		 app.config file and modify as required.
	-->
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <!-- Argix.Data Default Settings -->
        <Argix.Properties.Settings>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=RGXDEVDB;initial catalog=TSORTLOCAL;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=30</value>
            </setting>
            <setting name="FileStore" serializeAs="String">
                <value>\\rgxdevdb\c$\inetpub\wwwroot\global\</value>
            </setting>
            <setting name="DataAccessWS" serializeAs="String">
                <value>http://RGXDEVDB/Argix08/Argix08.Data.WebSvc/dataaccess.asmx</value>
            </setting>
        </Argix.Properties.Settings>
    </applicationSettings>
</configuration>
