<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<bindings>
			<wsDualHttpBinding>
				<binding name="ScaleDualBinding" closeTimeout="00:01:00" openTimeout="00:01:00" />
			</wsDualHttpBinding>
		</bindings>
		<services>
			<service name="Tsort.Devices.Scales.AutoScale" behaviorConfiguration="TsortServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/Tsort08.DeviceService/ScaleService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="ScaleDualBinding" contract="Tsort.Devices.Scales.IScale" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="Tsort.Devices.Printers.Zebra110" behaviorConfiguration="TsortServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/Tsort08.DeviceService/LabelPrinterService" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsHttpBinding" contract="Tsort.Devices.Printers.ILabelPrinter" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="TsortServiceBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>