<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebSvcClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebSvcClient.Properties.Settings>
            <setting name="WebSvcClient_Tracker_Tracker" serializeAs="String">
                <value>http://localhost/argix08/ddutracking/tracker.asmx</value>
            </setting>
        </WebSvcClient.Properties.Settings>
    </applicationSettings>
</configuration>