<configuration>
	<configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <applicationSettings>
        <Argix.Properties.Settings>
            <setting name="CartonNumberLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BookCountMax" serializeAs="String">
                <value>999</value>
            </setting>
            <setting name="EANPrefix" serializeAs="String">
                <value>978</value>
            </setting>
            <setting name="EANScanSize" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="ISBNScanSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FTPRemotePath" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="FTPServername" serializeAs="String">
                <value>ftp.argixdirect.com</value>
            </setting>
            <setting name="FTPUsername" serializeAs="String">
                <value>bnstat</value>
            </setting>
            <setting name="FTPPassword" serializeAs="String">
                <value>bn2009stat</value>
            </setting>
            <setting name="SQLConnection" serializeAs="String">
                <value>data source=localhost;initial catalog=StatSample;persist security info=True;user id=sa;password=objects;packet size=4096</value>
            </setting>
            <setting name="UPCScanSize" serializeAs="String">
                <value>12</value>
            </setting>
        </Argix.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Argix.Properties.Settings>
            <setting name="Toolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>192, 96</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>600, 432</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </Argix.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
