<configuration>
	<configSections>
		<sectionGroup name="menu"><section name="help" type="System.Configuration.NameValueSectionHandler" /></sectionGroup>
		<sectionGroup name="enterprise">
            <section name="terminals" type="System.Configuration.DictionarySectionHandler"/>
        </sectionGroup>
    </configSections>
    <menu>
		<help>
			<add key="Contents..." value="" />
			<add key="Release Notes..." value="" />
		</help>
	</menu>
	<enterprise>
		<terminals>
 			<add key="TPJHEARY (localhost)" value="\\localhost\c$\inetpub\wwwroot\Argix08\Apps" />
            <!--<add key="JA (rgxvmweb)" value="\\rgxvmweb\c$\inetpub\wwwroot\Argix08\Apps" />
            <add key="RF (rfrgxad2)" value="\\rfrgxad2\c$\inetpub\wwwroot\Argix08\Apps" />
            <add key="CT (ctrgxad1)" value="\\ctrgxad1\c$\inetpub\wwwroot\Argix08\Apps" />
            <add key="MA (margxad2)" value="\\margxad2\c$\inetpub\wwwroot\Argix08\Apps" />
            <add key="LL (llrgxad1)" value="\\llrgxad1\c$\inetpub\wwwroot\Argix08\Apps" />
            <add key="MM (mmrgxad2)" value="\\mmrgxad2\c$\inetpub\wwwroot\Argix08\Apps" />-->
        </terminals>
    </enterprise>	
</configuration>
