<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tsort.Properties.TsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Tsort.Properties.JATsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tsort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="menu">
            <section name="help" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <Tsort.Properties.TsortSettings>
            <setting name="SQLConnection" serializeAs="String">
                <value>Data Source=JARGXTS;Initial Catalog=TSORT;Persist Security Info=True;User ID=sa;Password=objects;Packet Size=4096;</value>
            </setting>
        </Tsort.Properties.TsortSettings>
        <Tsort.Properties.JATsortSettings>
            <setting name="SQLConnection" serializeAs="String">
                <value>Data Source=JARGXTS;Initial Catalog=TSORT;Persist Security Info=True;User ID=userid;Password=password;Packet Size=4096;</value>
            </setting>
        </Tsort.Properties.JATsortSettings>
    </applicationSettings>
    <userSettings>
        <Tsort.Properties.Settings>
            <setting name="LastVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Toolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StatusBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>45, 45</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="StartLocation" serializeAs="String">
                <value>WindowsDefaultLocation</value>
            </setting>
        </Tsort.Properties.Settings>
    </userSettings>
    <menu>
        <help>
            <add key="Help Contents" value="" />
            <add key="Release Notes..." value="releasenotes.txt" />
            <add key="Issue Log..." value="http://rgxshpnt/Tsort%20Applications/Lists/Issue%20Log/AllItems.aspx" />
        </help>
    </menu>
</configuration>