<configuration>
	<configSections>
		<sectionGroup name="labelStores">
			<section name="terminals" type="System.Configuration.DictionarySectionHandler"/>
			<section name="templates" type="System.Configuration.DictionarySectionHandler"/>
			<section name="backups" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
		<sectionGroup name="station">
			<section name="printer" type="System.Configuration.NameValueSectionHandler" />
			<section name="scale" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	
	<labelStores>
		<terminals>
            <add key="Jamesburg" value="Data Source=RGXSQLR;Initial Catalog=TSORTR;User ID=sa;Password=objects;Persist Security Info=True;Packet Size=4096;Connection Timeout=15" />
        </terminals>
		<templates>
			<add key="Local Templates" value="c:\Label Studio\Templates\" />
		</templates>
		<backups>
			<add key="Test Terminal Backup" value="c:\Label Studio\Backups\test.bak" />
		</backups>
	</labelStores>
	<station>
		<printer>
			<add key="BaudRate" value="19200" />
			<add key="DataBits" value="7" />
			<add key="RS232Parity" value="None" />
			<add key="RS232StopBits" value="1" />
			<add key="RS232Handshake" value="None" />
			<add key="CheckStatusOnWrite" value="true" />
		</printer>
		<scale>
		</scale>
	</station>
	
	<appSettings>
		<!-- Client configuration -->
		<add key="EventLogMachineName" value="RGXDEVDB" />
		
		<!-- Database configuration (for two-tier deployment only: UseWebSvc=false) -->
		<add key="SQLConnection" value="Data Source=RGXDEVDB;Initial Catalog=TSORTLOCAL;User ID=sa;Password=objects;Persist Security Info=True;Packet Size=4096;Connection Timeout=15" />
	</appSettings>
</configuration>