<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <Argix.Properties.Settings>
            <setting name="Argix08_Subscriptions_Win_rgxvmsqlrpt08_ReportingService2010"
                serializeAs="String">
                <value>http://rgxvmsqlrpt08:80/ReportServer/ReportService2010.asmx</value>
            </setting>
        </Argix.Properties.Settings>
    </applicationSettings>
</configuration>