<configuration>
	<!-- Test configuration -->
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="dispatch">
			<section name="schedules" type="System.Configuration.DictionarySectionHandler"/>
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="menu">
			<section name="help" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>

	<applicationSettings>
		<Argix.Properties.Settings>
   <setting name="EventLogMachineName" serializeAs="String">
    <value />
   </setting>
   <setting name="DataAccess" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="SQLConnection" serializeAs="String">
    <value>data source=RGXDEVDB;initial catalog=TSORTENTERPRISE;persist security info=True;user id=sa;password=objects;packet size=4096</value>
   </setting>
   <setting name="DataAccessWS" serializeAs="String">
    <value>http://RGXDEVDB/RGXDEVDB.TSORTENTERPRISE.WebSvc/DataAccess.asmx</value>
   </setting>
   <setting name="FileStore" serializeAs="String">
    <value>C:\Data\Projects\Argix08\Argix08.User\Argix08.Dispatch.Win\Data\</value>
   </setting>
  </Argix.Properties.Settings>
	</applicationSettings>
	<dispatch>
		<schedules>
			<add key="Client Inbound Schedule" value="true" />
			<add key="Inbound Schedule" value="true" />
			<add key="Pickup Log" value="true" />
			<add key="Outbound Schedule" value="true" /> 
			<add key="LineHaul Schedule" value="true" />
			<add key="Trailer Tracking" value="true" />
		</schedules>
	</dispatch>
	<userSettings>
		<Argix.Properties.Settings>
   <setting name="LastVersion" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Toolbar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="StatusBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
   <setting name="Location" serializeAs="String">
    <value>45, 45</value>
   </setting>
   <setting name="Size" serializeAs="String">
    <value>800, 600</value>
   </setting>
  </Argix.Properties.Settings>
	</userSettings>
	<menu>
		<help>
			<add key="Contents..." value="" />
			<add key="Release Notes..." value="" />
			<add key="Issue Log..." value="http://rgxshpnt/Tsort%20Applications/Lists/Issue%20Log/AllItems.aspx" />
		</help>
	</menu>
</configuration>