<configuration>
	<!-- Station Program -->
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Argix.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.TsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.JATsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.RFTsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.CTTsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.MATsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.ATTsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.CHTsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.LLTsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.MMTsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.DLTsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.SLTsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Tsort.Properties.CATsortSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Tsort.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="station">
			<section name="printer" type="System.Configuration.NameValueSectionHandler" />
			<section name="scale" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
		<sectionGroup name="menu">
			<section name="help" type="System.Configuration.NameValueSectionHandler" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Argix.Properties.Settings>
			<!-- Argix.AppLogging Default Settings -->
			<setting name="EventLogMachineName" serializeAs="String">
				<value></value>
			</setting>

			<!-- Argix.Data Default Settings -->
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=RGXDEVDB;initial catalog=TSORTLOCAL;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=30</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://RGXDEVDB/RGXDEVDB.TSORTLOCAL.WebSvc/dataaccess.asmx</value>
			</setting>
		</Argix.Properties.Settings>
		<Tsort.Properties.Settings>
   <setting name="SQLCommandTimeout" serializeAs="String">
    <value>5</value>
   </setting>
  </Tsort.Properties.Settings>
		<Tsort.Properties.TsortSettings>
			<!-- Terminal-specific Default Settings (ClickOnce with no query string or non-ClickOnce deployment) -->
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=RGXDEVDB;initial catalog=TSORTLOCAL;persist security info=True;user id=sa;password=objects;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://rgxdevdb/rgxdevdb.tsortlocal.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.TsortSettings>
		<Tsort.Properties.JATsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=JARGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://rgxweb/jargxts.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.JATsortSettings>
		<Tsort.Properties.RFTsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=RFRGXAD2;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://rfrgxad2/rfrgxad2.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.RFTsortSettings>
		<Tsort.Properties.CTTsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=CTRGXAD2;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://ctrgxad2/ctrgxad2.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.CTTsortSettings>
		<Tsort.Properties.MATsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=MARGXAD2;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://margxad2/margxad2.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.MATsortSettings>
		<Tsort.Properties.ATTsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=ATRGXAD2;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://atrgxad2/atrgxad2.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.ATTsortSettings>
		<Tsort.Properties.CHTsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=CHRGXAD2;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://chrgxad2/chrgxad2.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.CHTsortSettings>
		<Tsort.Properties.LLTsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=LLRGXAD2;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://llrgxad2/llrgxad2.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.LLTsortSettings>
		<Tsort.Properties.MMTsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=MMRGXAD2;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://mmrgxad2/mmrgxad2.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.MMTsortSettings>
		<Tsort.Properties.DLTsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=AGDLRGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://agdlrgxts/agdlrgxts.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.DLTsortSettings>
		<Tsort.Properties.SLTsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=AGSLRGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://agslrgxts/agslrgxts.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.SLTsortSettings>
		<Tsort.Properties.CATsortSettings>
			<setting name="UseWebSvc" serializeAs="String">
				<value>false</value>
			</setting>
			<setting name="SQLConnection" serializeAs="String">
				<value>data source=AGCARGXTS;initial catalog=TSORT;persist security info=True;user id=userid;password=password;packet size=4096</value>
			</setting>
			<setting name="DataAccessWS" serializeAs="String">
				<value>http://agcargxts/agcargxts.tsort.websvc/dataaccess.asmx</value>
			</setting>
		</Tsort.Properties.CATsortSettings>
	</applicationSettings>
	<userSettings>
		<Tsort.Properties.Settings>
   <setting name="LastVersion" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="Toolbar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="StatusBar" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Location" serializeAs="String">
    <value>45, 45</value>
   </setting>
   <setting name="Size" serializeAs="String">
    <value>800, 600</value>
   </setting>
   <setting name="WindowState" serializeAs="String">
    <value>Normal</value>
   </setting>
  </Tsort.Properties.Settings>
	</userSettings>
	<station>
		<printer>
			<add key="BaudRate" value="19200" />
			<add key="DataBits" value="7" />
			<add key="Parity" value="None" />
			<add key="StopBits" value="1" />
			<add key="Handshake" value="None" />
			<add key="CheckStatus" value="true" />
			<add key="LogEvents" value="false" />
		</printer>
		<scale>
			<add key="BaudRate" value="9600" />
			<add key="Parity" value="Even" />
		</scale>
	</station>
	<menu>
		<help>
			<add key="Help Contents" value="" />
			<add key="Release Notes..." value="releasenotes.txt" />
			<add key="Issue Log..." value="http://rgxshpnt/Tsort%20Applications/Lists/Issue%20Log/AllItems.aspx" />
		</help>
	</menu>
</configuration>
