<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="WebSvcUrl" value="http://Production.shippingapis.com/ShippingAPI.dll"/>
		<add key="UserID" value="019ARGIX2902"/>
		<add key="CommandTimeout" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name="_SQLConnection" connectionString="data source=DDUSQL;initial catalog=TSORTR;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=15" providerName="System.Data.SqlClient"/>
		<add name="SQLConnection" connectionString="data source=RGXSQLR;initial catalog=TSORTR;persist security info=False;user id=sa;password=objects;packet size=4096;Connect Timeout=15" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="false" batch="true">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<authorization><allow users="?"/></authorization>
		<authentication mode="None"></authentication>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="3"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<customErrors mode="On" defaultRedirect="Error.aspx"/>
		<trace enabled="false" requestLimit="10" pageOutput="true" traceMode="SortByTime" localOnly="true"/>
	</system.web>
</configuration>
